
.title {
    height: 1000px;
    background-color: rgb(52, 52, 55);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

.introTitle {
    color: rgb(227, 228, 250, 0.9);   
}

.about {
    height: 350px;
    background-color: rgb(58, 58, 61);
    display: flex;
    flex-direction: row;
}

#personal {
    margin-left: auto;
    margin-right: 200px;
    height: 200px;
    width: 500px;
    align-items: center;

}

/* .project {
    height: 300px;
    background-color: rgb(40, 40, 42);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */

/* #projectTitle {
    margin-right: auto;
    margin-left: 285px;
    align-items: center;
} */

.stack {
    height: 350px;
    background-color: rgb(52, 52, 55);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.webdev {
    display: flex;
    flex-direction: column;
}

.svg {
    height: 50px;
    width: 50px;
}