

.floosh-container {
    display: flex;
    align-items: flex-end;
    height: 100px;
    justify-content: center;
    align-items: flex-end;
}

.floosh {
    display: flex;
    font-size: 50px;
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.githubContainer {
    display: flex;
    flex-direction: column;
    background: aquamarine;
    height: 150px
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(179, 248, 203);
    height: 150px;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    background-color:  lightblue;
    height: 150px;
}

