
* {
    background-image: linear-gradient(#FFDBB6, #FFE9D1, #FFEEDE, #FFF8F0, white);
    background-blend-mode: lighten;
}

h1 {
    color: black;
    font-family: "Libre Barcode 128 Text";
    font-size: 75px;
    text-align: center;
}